* {
  margin: 0;
  padding: 0;
}
h1 {
  width: 400px;
  height: 50px;
  background-color: aqua;
}
h1:nth-of-type(2) {
  width: 400px;
  height: 50px;
  background-color: #7f9e9e;
  margin-top: 20px;
}
h1:nth-of-type(3) {
  width: 400px;
  height: 80px;
  background-color: #7f9e84;
  margin-top: 20px;
}
h2 {
  width: 800px;
  height: 50px;
  background-color: #1e00ff;
}
h4 {
  width: 1000px;
  height: 50px;
  background-color: #ff0037;
  margin-top: 50px;
}
